<div class="page-header page-header-inverse">
    <!-- Page header content -->
    <div class="page-header-content">
      <div class="page-title">
        <h4>HanifU</h4>
      </div>

      <div class="heading-elements">
        <ul class="breadcrumb heading-text">
          <li class="icon-home2 position-left active"> Home</li><!-- 
          <li><a href="index.html"><i class="icon-home2 position-left"></i> Home</a></li>
          <li><a href="animations_velocity_examples.html">Velocity</a></li>
          <li class="active">Advanced</li> -->
        </ul>
      </div>
    </div>
    <!-- /page header content -->

    <!-- Second navbar -->
    <div class="navbar navbar-inverse navbar-transparent" id="navbar-second">
      <ul class="nav navbar-nav visible-xs-block">
        <li><a class="text-center collapsed" data-toggle="collapse" data-target="#navbar-second-toggle"><i class="icon-paragraph-justify3"></i></a></li>
      </ul>

      <div class="navbar-collapse collapse" id="navbar-second-toggle">
        <ul class="nav navbar-nav navbar-nav-material">
          <li><a href="index.html"><i class="icon-home2 position-left"></i> Home</a></li>
          <!-- <li><a href="puzzle.html"><i class="fa fa-gamepad position-left"></i> Logic puzzle</a></li> -->
          <li><a href="mtk.html"><i class="fa fa-gamepad position-left"></i> Games</a></li>
          <li><a href="about.html"><i class="icon-user-tie position-left"></i> About Me</a></li>

        </ul>

        <ul class="nav navbar-nav navbar-nav-material navbar-right">
          <li>
            <a href="#">
              <span id="timestamp"></span>
              
            </a>
          </li>

        </ul>
      </div>
    </div>
    <!-- /second navbar -->
</div>